/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Damion&family=Julee&family=Monoton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap");
.banner-title {
  position: absolute;
  right: 65px;
  font-family: "Julee", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

/* Banner */
.banner {
  background-color: #95b73c;
  color: white;
  padding: 10px 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.banner-logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.banner-logo img {
  height: 80px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-grow: 1;
  margin-right: 240px;
  margin-top: 30px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
}

.nav a:hover {
  text-decoration: underline;
}

/* Filter */
.filter-container {
  margin: 5px;
}

.filter-container input {
  width: 90%;
  padding: 10px;
  border: 1px solid #95b73c;
  border-radius: 8px;
  font-size: 16px;
}

/* Footer */
.footer {
  background-color: #95b73c;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Navigation in Banner */
.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

/* About Section */
.about-section {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.about-section h2 {
  margin: 0;
}

.about-section p {
  margin: 10px 0 0;
}

/* Footer Navigation */
.footer nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.footer nav a {
  color: white;
  text-decoration: none;
}

.footer nav a:hover {
  text-decoration: underline;
}

.about-section {
  background-color: #f4f4f4;
  padding: 40px;
  text-align: center;
}

.about-section h2 {
  margin: 0;
}

.about-section p {
  margin: 10px 0 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-left: 360px;
  padding: 10px;
  max-width: calc(55% - 100px);
  max-height: 600px;
  overflow-y: auto;
  /* border: 1px solid #ccc; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
}

/* Für moderne Browser mit scrollbar-color */
.container {
  scrollbar-color: #95b73c #f4f4f4;
  scrollbar-width: thin;
}

/* Für WebKit-basierte Browser (Chrome, Edge, Safari) */
.container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.container::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #95b73c;
  border-radius: 8px;
  border: 2px solid #f4f4f4;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #7aa02f;
}

.play-h5p-box {
  flex: 0 1 calc(20% - 16px);
  aspect-ratio: 1;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}

.play-h5p-box h3 {
  background-color: #94b73ce2;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 4px;
}

/* Hover-Effekt für Boxen */
.play-h5p-box:hover {
  background-color: #e0e0e0;
}

/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Dunkler, semi-transparenter Hintergrund */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup Content */
.popup-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  width: 90%;
  overflow: hidden;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.close-btn svg {
  width: 24px;
  height: 24px;
  color: #555;
  transition: color 0.3s ease;
}

.close-btn:hover svg {
  color: #e74c3c;
}

.category-filter {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.category-button {
  background-color: #95b73c;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

.category-button:hover {
  background-color: #7aa02f;
}

.category-button.active {
  background-color: #61862e;
  font-weight: bold;
}

.popup-layout {
  display: flex;
  gap: 20px;
}

.popup-h5p-content {
  flex: 2;
  max-width: 70%;
}

.popup-info {
  flex: 1;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.popup-info h3 {
  margin-top: 0;
  color: #333;
}

.popup-info p {
  color: #555;
  line-height: 1.5;
}

.fullscreen-btn {
  background-color: #95b73c;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.fullscreen-btn:hover {
  background-color: #7aa02f;
}

.fullscreen-btn svg {
  width: 20px;
  height: 20px;
}

.login-container {
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

/* Title */
.login-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
}

/* Input Fields */
.login-input {
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.login-input:focus {
  border-color: #95b73c;
  box-shadow: 0 0 5px rgba(149, 183, 60, 0.5);
}

/* Button */
.login-button {
  padding: 10px 15px;
  background-color: #95b73c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #7aa02f;
}

.about-section {
  margin: 0 360px;
  width: 60%;
  padding: 50px;
  background-color: #f9f9f9;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Datenschutz-title {
  font-size: 24px;
  font-weight: bold;
  color: #95b73c;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.Datenschutz-text {
  font-size: 14px;
  line-height: 1.8;
  color: #000000;
  text-align: justify;
  width: 100%;
  max-width: 800px;
}

.Link {
  text-decoration: none;
  color: #95b73c;
  font-weight: bold;
}

.faculty-menu {
  position: absolute;
  top: 120px;
  left: 5px;
  height: 74%;
  width: 310px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* Für moderne Browser mit scrollbar-color */
.faculty-menu {
  scrollbar-color: #95b73c #f4f4f4; /* Grün für die Scrollleiste, Grau für den Hintergrund */
  scrollbar-width: thin;
}

/* Für WebKit-basierte Browser (Chrome, Edge, Safari) */
.faculty-menu::-webkit-scrollbar {
  width: 8px;
}

.faculty-menu::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 8px;
}

.faculty-menu::-webkit-scrollbar-thumb {
  background-color: #95b73c;
  border-radius: 8px;
}

.faculty-menu::-webkit-scrollbar-thumb:hover {
  background-color: #7aa02f;
}

/* Stile für Listen im Fakultätsmenü */
.faculty-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.faculty-menu li {
  margin: 10px 0;
}

.faculty-menu li a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  display: block;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.faculty-menu li a:hover {
  background-color: #95b73c;
  color: #ffffff;
  font-weight: bold;
}

.faculty-menu h3 {
  color: #61862e;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.filter {
  position: absolute;
  right: 5px;
  top: 120px;
  width: 345px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  z-index: 1000;
  height: 74%;
  overflow-y: auto;
}

/* Für moderne Browser mit scrollbar-color */
.filter {
  scrollbar-color: #95b73c #f4f4f4;
  scrollbar-width: thin;
}

/* Für WebKit-basierte Browser (Chrome, Edge, Safari) */
.filter::-webkit-scrollbar {
  width: 8px;
}

.filter::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 8px;
}

.filter::-webkit-scrollbar-thumb {
  background-color: #95b73c;
  border-radius: 8px;
}

.filter::-webkit-scrollbar-thumb:hover {
  background-color: #7aa02f;
}

.category-filter {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.category-filter {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.category-button {
  background-color: #95b73c;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #7aa02f;
}

.category-button.active {
  background-color: #61862e;
  font-weight: bold;
}
